.students-container {
    display: flex;

    flex-wrap: wrap;
    gap: 5rem;
}

.student-card img{
    height: 6rem;
}

.filter-by-faculties {
    display: flex;
    gap: 1rem;
}
.filter-by-faculties a{
    padding: 0.1rem;
    border-style: none;
    border: 0.15rem black  ;
    border-radius: 20%; 
}
.filter-by-faculties img{
    max-height: 2rem;
}